<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <title>Reddit Emblem: Heroes</title>

    <environment names="Development">
        <!--Load JavaScript libraries-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--Load remote JavaScript libraries-->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.angular"
                crossorigin="anonymous"
                integrity="sha384-dnb2919qR2EQMBO14MaJP3Bz8riwXj67BaeMJSmVEshMxuN8697WhSDQmz0syAAX">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-route.min.js"
                asp-fallback-src="~/lib/angular-route/angular-route.min.js">
        </script>
    </environment>
    <environment names="Development,Staging,Production">
        <!--Load local JavaScript libraries-->
        <script src="~/js/app.js"></script>
        <script src="~/js/login.controller.js"></script>
        <script src="~/js/home.controller.js"></script>

        <!--Load local CSS Stylesheets-->
    </environment>
</head>
<body>
    @RenderBody()
</body>
</html>
